* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {    
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px 38px;
    background-color: #475d7c;
    color: white;
}

.logo {
    margin-left: 60px;
}

.nav-lst {
    display: flex;
    gap: 20px;
    margin-right: 60px;
}

/* ul {
    list-style-type: none;
} */

.nav-item > a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #475d7c;
    color: white;
    gap: 40px;
    padding: 40px;
    margin: 0;
}